/* setting colors here, play around with later */
:root {
  --clr-primary: rgb(54, 112, 199);
  --clr-light: #f4f4f4;
  --clr-dark: #333;
  --clr-warning: rgb(99, 36, 36);
}

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;

  background-color: var(--clr-primary);
  color: var(--clr-light);

  /* going to use gridbox here, one row for the header and gonna have colums for the rest */
  display: grid;
  grid:
    "header header header header" auto
    "...... lists  active ......" auto /
    1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;
}

.title {
  /* set title to take up whole header grid area */
  grid-area: header;
}

.all-tasks {
  grid-area: lists;
}

.todo-list {
  grid-area: active;
}
